.forumCard {
    width: 70%;
    height: auto;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 10px;
}

.title {
    border-bottom: 2px solid grey;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid grey;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.37);
    margin-bottom: 10px;

}

.content p {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bolder;
}

.content span {
    color: rgb(29, 3, 88);
}
.form{
    display: none;
}
.formDisplay {
    background-color: rgb(255, 255, 255, 0.8);
    width: 90%;
    display:block;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: 0 auto;
}
.formDisplay input, button{
    margin: 0 auto;
    text-align: center;
}
.span{
    font-weight: bolder;
    font-size: 0.7rem;
    color:white;
}
