.homepage{
    padding-top: 150px;
    padding-bottom: 100px;
    margin: 0 auto;
    color: black;
    text-align: center;
}
.title{
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
    font-size: 1.2rem;
}