.navigation{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
}
.navigation img{
    width: 120px;
    height: 80px;
    box-shadow: 10px 10px 5px rgb(169, 161, 161);
}
.navigation img::before{
    background-color: grey;
}
.navigation a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.5rem;
}
.navigation a:hover{
    text-decoration: underline;
}
.logout{
    text-decoration: none;
    font-size: 1.5rem;
    border:none;
    background: none;
    color:white;
}
.logout:hover{
    text-decoration: underline;
}